.btn-primary.disabled{
	background-color: getColor(gray-dark);
	color: white;
}

#website-extra{
	display: none;
}

@media screen and(min-width: $mobile-width){
	#website-extra{
		display: inline;
	}
	
	main>div>div:first-of-type{
		margin: 50px;
	}
}
