$mobile-width: 768px;
$heading-font: 'Playfair Display', serif;
$text-font: 'Lato', sans-serif;

$colors: (
	black: #0a0a0a,
	gray: #c7c7c7,
	gray-light: #efefef,
	gray-dark: #767676,
	red: #e92569,
);

@function getColor($color) {
	@return map-get($colors, $color);
}

$accordion-button-color: getColor(red);
$accordion-bg: rgba(255, 255, 255, 0.6);
$accordion-button-bg: white;
$accordion-border-color:  white;
$accordion-button-active-bg: white;
$accordion-button-active-color: getColor(red);
$accordion-icon-width: 0;

$nav-link-color: getColor(red);
$nav-link-hover-color: getColor(gray-dark);      
