footer{
  margin-top:50px !important;
  background-color: white;
  padding: 25px 45px 15px 45px;

  div:first-of-type{
    font-size: 22px;
  }
   div:last-of-type{
      flex-basis:100%;
      display: flex;
      justify-content:space-between;
    }
}

@media screen and (min-width: $mobile-width){
  footer{
    div:first-of-type{
      flex-basis: 35%;
    }

    div:last-of-type{
      flex-basis:65%;
      display: flex;
      justify-content:space-between;
    }
  }
}