body {
	background-color: getColor(gray);
	font-family: $text-font;
	color: getColor(gray-dark);
}

header {
	background-color: getColor(gray-light);
	width: 100%;
	margin-top: -10px;
}

h1 {
	font-family: $heading-font;
	color: getColor(red);
}
