.nav-tabs {
	display: none;
}

.accordion-button {
	font-size: 19px;
}

@media screen and (min-width: $mobile-width) {
	.nav-tabs {
		display: flex;
	}

	.accordion-item .collapse {
		display: block;
	}

	.accordion-header {
		display: none;
	}

	.collapse {
		display: block;
	}

	.accordion-body {
		background-color:white !important;
		padding: 40px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 2;
		grid-template-areas:
			'image text text text text text text'
			'image links . . . . .';		
		

		grid-gap: 1rem;

		p {
			grid-area: text;
		}

		img {
			grid-area: image;
			width: 300px;			
		}

		div {
			grid-area: links;
			padding: 10px;
			color: black;
			font-size: 1.4rem;
		}
	}
}

@media screen and(max-width: $mobile-width) {
	.tab-content > .tab-pane {
		display: block !important;
		opacity: 1;
	}

	.accordion-button:not(.collapsed){
		border-bottom: 2px solid getColor(red);
	}

	.accordion-body {
		padding: 40px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 3;
		grid-template-areas:
			'text'
			'image'
			'links';

		justify-items: center;

		p {
			grid-area: text;
		}

		img {
			grid-area: image;
		}

		div {
			grid-area: links;
			padding: 10px;
			color: black;
			font-size: 1.4rem;
		}
	}
}
