$mobile-width: 768px;
$heading-font: 'Playfair Display', serif;
$text-font: 'Lato', sans-serif;

$colors: (
	black: #0a0a0a,
	gray: #c7c7c7,
	gray-light: #efefef,
	gray-dark: #767676,
	red: #e92569,
);

@function getColor($color) {
	@return map-get($colors, $color);
}
